.container {
    width: 80%;
    margin: 0 auto;
}

.sideBarElems:last-child {
    margin-top: 40px
}

.sideBarElems:nth-child(5) {
    margin-top: 40px
}

.sideBarElems {
    margin-top: 10px;
}

.sideBarElems a {
    text-decoration: none;
    font-size: 35px;
    color: #C9C9C9;
    transition: all 0.2s;
}

.sideBarElems a:hover {
    color: #EA3953;
}

.sideBarElems .active {
    color: #EA3953;
}

@media (max-width: 900px) {
    .sideBarElems a {
        font-size: 25px;
    }


}

@media (max-width: 550px) {
    .sideBarElems a {
        font-size: 16px;
    }
}



