.sideBar {
    grid-area: side-bar;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(90, 93, 138);
    box-shadow: 0px 0px 3px 1px rgb(90, 93, 138);
}

.sideBarBlock {
    width: 80%;
    margin: 0 auto;
}

.sideBarElems:last-child {
    margin-top: 40px
}

.sideBarElems {
    margin-top: 10px;
}

.sideBarElems a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(96, 97, 161);
    transition: all 0.2s;
}

.sideBarElems a:hover {
    color: rgb(218, 27, 202);   
}

.sideBarElems a:active {
    color: #000;
}

.active {
    color: rgb(255, 255, 255);
}



