.sideBar {
    grid-area: side-bar;
    border: 1px solid red;
}

.sideBarBlock {
    width: 90%;
    margin: 0 auto;
}

.sideBarElems:last-child {
    margin-top: 40px
}

.sideBarElems {
    margin-top: 10px;
}
.sideBarElems a {
    text-decoration: none
}



