.sendBlock textarea {
    width: 40%;
    height: 65px;
    resize: none;
    background: rgb(235, 235, 235);
    border: none;
}

.sendBlock button {
    display: block;
    width: 130px;
    height: 35px;
    background: rgb(146, 207, 146);
    border: none;
}  