.backgroundImage img {
    width: 100%;
    height: 200px;
}
.profile {
    display: flex; 
    margin-left: 10px; 
}
.profile .sideInfo {
    width: 150px;
}
.sideInfo .profileAvatar{
    text-align: center;
}
.sideInfo .profileAvatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.sideInfo .fullName {
    text-align: center;
    color: rgb(96, 97, 161);
    font-size: 20px;
}
.otherInfo {
    width: 100%;
}
.otherInfo .status {
    font-size: 25px;
    margin-left: 10px;
    color: rgb(96, 97, 161);
}
