.profile {
    display: flex;
    margin-left: 10px;
}
.profile form {
    display: inherit;
}
.profile .sideInfo {
    width: 150px;
}
.sideInfo .profileAvatar{
    text-align: center;
}
.sideInfo .profileAvatar img {
    width: 150px;
    height: 150px;
    border-radius: 40%;
}
.sideInfo .fullName {
    text-align: center;
}
.sideInfo .fullName input {
    width: 80%;
}
.otherInfo {
    width: 100%;
}
.otherInfo .status {
    font-size: 25px;
    margin-left: 10px;
    color: rgb(96, 97, 161);
}
