.createPost {
    width: 95%;
    margin: 0 auto;
}

.createPost textarea {
    width: 100%;
    height: 70px;
    resize: none;
    background: rgb(235, 235, 235);
    border: none;
}

.createPost button {
    display: block;
    width: 130px;
    height: 35px;
    background: rgb(146, 207, 146);
    border: none;
}   
.posts {
    margin-top: 20px;
}