.name a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #C9C9C9;
    transition: all 0.3s;
}

.name a:hover, .name .active{
    color: #EA3953;
}

@media (max-width: 900px) {
    .name a {
        font-size: 20px;
    }

    .name a:hover{
        color: #C9C9C9;
    }
}
