.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(90, 93, 138);
    box-shadow: 0px 0px 3px 1px rgb(90, 93, 138);
}
.login {
    margin-right: 10px;
}

.header img{
    height: 59px;
}
