.header {
    display: flex;
    width: 98%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.loginOrLogout .logout span{
    color: #C9C9C9;
    font-size: 20px;
}

.loginOrLogout .logout button {
    font-family: 'Noto Serif', serif;
    width: 65px;
    background: #EA3953;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
}

.loginOrLogout .logout button:hover {
    background: #C9C9C9;
}

.loginOrLogout .login a {
    text-decoration: none;
    font-size: 25px;
    color: #C9C9C9;
    transition: all 0.2s;
}

.loginOrLogout .login a:hover {
    color: #EA3953;
}

@media (max-width: 900px) {
    .loginOrLogout .login a {
        font-size: 20px;
    }

    .loginOrLogout .logout span{
        font-size: 17px;
    }

    .loginOrLogout .logout button {
        width: 55px;
        font-size: 12px;
    }

    .loginOrLogout .logout button:hover {
        background: #EA3953;
    }
}

@media (max-width: 550px) {
    .loginOrLogout .login a {
        font-size: 18px;
    }

    .loginOrLogout .logout span{
        font-size: 15px;
    }

    .loginOrLogout .logout button {
        width: 50px;
        font-size: 11px;
    }
}