.message {
    display: grid;
    grid-template-areas:
    'dialogs chat';
    grid-template-columns: 4fr 10fr;
    padding: 8px;
    overflow: hidden;
}

.namePage {
    font-size: 35px;
    color: #C9C9C9;
}
.chat {
    grid-area: chat;
}

.dialogs {
    grid-area: dialogs;
    z-index: 1;
}

@media (max-width: 660px) {
    .message {
        grid-template-areas:
            'chat dialogs';
        grid-template-columns: 1fr auto;
    }
}
