body {
    padding: 20px;
    background-image: url(./constructive_bg_01.jpg);
}
.App {
    display: grid;

    grid-template-areas:
    'header header'
    'side-bar content';

    grid-template-rows: 60px 600px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px; 
}
.content {
    grid-area: content;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(228, 27, 211);
    box-shadow: 0px 0px 3px 1px rgb(218, 27, 202);
}







