body {
    padding: 20px;
    background-image: url(assets/images/constructive_bg_01.jpg);
    background-repeat: no-repeat;
}
.App {
    display: grid;

    grid-template-areas:
    'header header'
    'side-bar content';

    grid-template-rows: 60px auto;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px; 
}
.header {
    grid-area: header;
}

.side {
    grid-area: side-bar;
    height: 600px;
}
.content {
    grid-area: content;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(90, 93, 138);
    box-shadow: 0px 0px 3px 1px rgb(90, 93, 138);
}







